name: CI/CD

on:
  push:
    branches:
      - '*'       # matches every branch
      - '*/*'     # matches every branch containing a single '/'
      - '!master' # excludes master
  pull_request:
  # Run daily at 0:01 UTC
  schedule:
  - cron:  '1 0 * * *'

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Compile book
      uses: docker://xucheng/texlive-full:latest
      with:
        entrypoint: /bin/sh
        args: |
          -c "\
          apk --no-cache add make && \
          make all"
    - name: List directory contents
      run: ls -lhtra
